<footer class="footer">
    <div class="container-fluid">
        <div class="copyright">&copy; <script>  document.write(new Date().getFullYear()) </script><br>Developed by Antonio Altamura<br> Template by <a href="https://www.creative-tim.com/">Creative Tim</a> </div>
    </div>
</footer>