<footer class="footer">
    <div class="container-fluid">
        <div class="copyright">&copy; <script>  document.write(new Date().getFullYear()) </script>, Designed by Antonio Altamura </div>
    </div>
</footer>