<div class="sidebar" data-color="blue">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
        <a href="#" class="">
           <img class="top" src="img/logo.png" />
        </a>
        <a href=#" class="simple-text logo-normal">
            Routing to Research
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a ui-sref="home">
                    <i class="now-ui-icons business_bank"></i>
                    <p>Home</p>
                </a>
            </li>
            <li>
                <a ui-sref="search">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                    <p>Search</p>
                </a>
            </li>
            <li>
                <a ui-sref="manage">
                    <i class="now-ui-icons design_app"></i>
                    <p>Manage data</p>
                </a>
            </li>
            <li>
                <a ui-sref="graph">
                    <i class="now-ui-icons media-2_sound-wave"></i>
                    <p>Data Visualization</p>
                </a>
            </li>
        </ul>
    </div>
</div>