<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
                        <p class="navbar-brand">Routing To Research</p>
        </div>

    </div>
</nav>

<div class="panel-header panel-header-lg home-graph ">

   <!-- <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>-->
    <div id="home-graph-container">Placeholder for chart</div>

</div>


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row flex-center">
                        <div class="col-md-2">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-success">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </div>
                                    <h3 class="info-title">{{count.Author}}</h3>
                                    <h6 class="stats-title">Authors</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-primary">
                                        <i class="now-ui-icons education_paper"></i>
                                    </div>
                                    <h3 class="info-title">{{count.Paper}}</h3>
                                    <h6 class="stats-title">Papers</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-info">
                                        <i class="now-ui-icons files_single-copy-04"></i>
                                    </div>
                                    <h3 class="info-title">{{count.Journal}}</h3>
                                    <h6 class="stats-title">Journals</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="now-ui-icons education_agenda-bookmark"></i>
                                    </div>
                                    <h3 class="info-title">{{count.Book}}</h3>
                                    <h6 class="stats-title">Books</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="now-ui-icons business_bulb-63"></i>
                                    </div>
                                    <h3 class="info-title">{{count.Topic}}</h3>
                                    <h6 class="stats-title">Topics</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>